In [1]:
import pandas as pd

In [2]:
friends = ["Monica", "Chandler", "Joey", "Pheobe", "Ross", "Rachel"]
series = pd.Series(friends)

In [3]:
series

0      Monica
1    Chandler
2        Joey
3      Pheobe
4        Ross
5      Rachel
dtype: object

In [8]:
series[0]

'Monica'

In [9]:
series.values

array(['Monica', 'Chandler', 'Joey', 'Pheobe', 'Ross', 'Rachel'],
      dtype=object)

In [10]:
series.index

RangeIndex(start=0, stop=6, step=1)

In [12]:
nick_names = ["Monana", "Officer Bing", "Ken Adams", "Regina Filange", "Dinosaur Guy", "Fun Aunt Rachel"] 
series = pd.Series(data = friends, index =  nick_names)
series

Monana               Monica
Officer Bing       Chandler
Ken Adams              Joey
Regina Filange       Pheobe
Dinosaur Guy           Ross
Fun Aunt Rachel      Rachel
dtype: object

In [13]:
series["Dinosaur Guy"]

'Ross'

In [14]:
d = {"a" : 1, "b" : 2, "c" : 3} 
series = pd.Series(d)
series

a    1
b    2
c    3
dtype: int64

In [15]:
import numpy as np

d = np.random.randn(5) # Creates a numpy array of 5 random numbers
series = pd.Series(d)
series

0   -0.215345
1   -0.071115
2   -0.028917
3   -0.095085
4    0.690530
dtype: float64

In [16]:
series.mean() # Returns mean of the series.

0.056013536299288194

In [17]:
series.median() # Returns median of the series.

-0.0711146627364191

In [18]:
series.std() # Returns standard deviation of the series.

0.3614043676901101

In [19]:
series.size # Returns size of the series.

5

In [20]:
series.shape # Returns shape of the series.

(5,)

In [24]:
series.add(1) # Returns series with elements added by 1

0    0.784655
1    0.928885
2    0.971083
3    0.904915
4    1.690530
dtype: float64

In [25]:
series.sub(1) # Returns series with elemetns subtracted by 1

0   -1.215345
1   -1.071115
2   -1.028917
3   -1.095085
4   -0.309470
dtype: float64

In [26]:
series.mul(10) # Returns series with elemetns multiplied by 10

0   -2.153450
1   -0.711147
2   -0.289173
3   -0.950855
4    6.905301
dtype: float64

In [27]:
series.div(10) # Returns series with elemetns divided by 10

0   -0.021535
1   -0.007111
2   -0.002892
3   -0.009509
4    0.069053
dtype: float64

In [29]:
series.abs() # Returns series with absolute value of elements

0    0.215345
1    0.071115
2    0.028917
3    0.095085
4    0.690530
dtype: float64

In [32]:
series.max() # Returns maximum of all the elements.

0.6905301012752741

In [33]:
series.min() # Returns minimum of all the elements.

-0.21534501837606607

In [34]:
series.sum() # Returns sum of all the elements.

0.28006768149644096

In [35]:
series.drop(4) # Returns series with specified index removed.

0   -0.215345
1   -0.071115
2   -0.028917
3   -0.095085
dtype: float64