In [2]:
import pandas as pd 
import numpy as np

In [3]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8], index=[1, 2, 3, 4, 5, 6, 7])

In [4]:
s

1    0.0
2    1.0
3    1.0
4    2.0
5    3.0
6    5.0
7    8.0
dtype: float64

In [5]:
s.loc[3]

1.0

In [6]:
s.iloc[3]

2.0

In [7]:
s.reset_index()

   index    0
0      1  0.0
1      2  1.0
2      3  1.0
3      4  2.0
4      5  3.0
5      6  5.0
6      7  8.0

In [8]:
mass = pd.Series(
    [0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
    index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [9]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [10]:
diameter = pd.Series(
    [4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
    index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [11]:
diameter = pd.Series(
    [4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
    index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [12]:
density = mass / (np.pi * np.power(diameter, 3) / 6)

In [13]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon                NaN
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [14]:
pd.isna(density)

Earth      False
Jupiter    False
Mars       False
Mercury    False
Moon        True
Neptune    False
Pluto      False
Saturn     False
Uranus     False
Venus      False
dtype: bool

In [15]:
density[pd.isna(density)] = np.mean(density)

In [16]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       2.986303e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [17]:
nifty = pd.read_csv("nifty_data.csv", index_col = 0).iloc[:,0]

In [18]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [19]:
nifty.describe()

count      245.000000
mean     11432.632245
std        454.214611
min      10604.350000
25%      11003.050000
50%      11512.400000
75%      11841.550000
max      12271.800000
Name: Close, dtype: float64

In [20]:
nifty[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [21]:
nifty[:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [24]:
nifty[1:] - nifty[:-1]

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [25]:
(nifty.values[1:] - nifty.values[:-1]) > 0 # True when the market close is greater than the previous day close

array([False, False,  True,  True,  True,  True, False, False, False,
        True,  True,  True,  True,  True, False, False,  True, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True, False, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False, False, False,  True, False,  True,  True,  True,  True,
       False, False,  True, False,  True, False,  True,  True,  True,
        True, False, False, False,  True, False,  True, False, False,
       False, False, False, False, False, False, False,  True, False,
        True,  True,  True, False,  True, False,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True, False, False,  True, False,  True, False, False,
        True,  True, False, False,  True,  True,  True,  True, False,
       False, False, False,  True, False,  True,  True,  True, False,
       False, False, False, False, False,  True, False, False,  True,
       False,  True, False,  True, False,  True,  True, False,  True,
        True,  True, False, False, False,  True,  True,  True, False,
       False,  True, False,  True,  True,  True,  True,  True, False,
        True, False, False,  True, False,  True,  True, False, False,
        True, False, False, False, False, False, False,  True, False,
        True,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True, False,  True,  True,
       False, False,  True, False,  True,  True, False, False, False,
        True, False, False,  True, False,  True,  True,  True, False,
        True,  True,  True,  True, False, False, False,  True,  True,
       False])

In [26]:
np.sum((nifty.values[1:] - nifty.values[:-1]) > 0)

129