In [1]:
import pandas as pd

# Series from list

In [2]:
friends = ["Monica", "Chandler", "Joey", "Pheobe", "Ross", "Rachel"]
series = pd.Series(friends)

In [3]:
series

0      Monica
1    Chandler
2        Joey
3      Pheobe
4        Ross
5      Rachel
dtype: object

In [4]:
series[0]

'Monica'

In [5]:
series.values

array(['Monica', 'Chandler', 'Joey', 'Pheobe', 'Ross', 'Rachel'],
      dtype=object)

In [6]:
series.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
nick_names = ["Monana", "Officer Bing", "Ken Adams", "Regina Filange", "Dinosaur Guy", "Fun Aunt Rachel"] 
series = pd.Series(data = friends, index =  nick_names)
series

Monana               Monica
Officer Bing       Chandler
Ken Adams              Joey
Regina Filange       Pheobe
Dinosaur Guy           Ross
Fun Aunt Rachel      Rachel
dtype: object

In [8]:
series["Dinosaur Guy"]

'Ross'

# Series using a dictionary

In [9]:
d = {"a" : 1, "b" : 2, "c" : 3} 
series = pd.Series(d)
series

a    1
b    2
c    3
dtype: int64

In [14]:
series["c"]

3

In [15]:
series["d"] = 4

In [17]:
series

a    1
b    2
c    3
d    4
dtype: int64

# Series using a numpy array

In [18]:
import numpy as np

d = np.random.randn(5) # Creates a numpy array of 5 random numbers
series = pd.Series(d)
series

0   -0.507243
1   -0.115731
2    0.526216
3   -0.495840
4    0.065357
dtype: float64

In [19]:
series[:3] # Returns first 3 elements

0   -0.507243
1   -0.115731
2    0.526216
dtype: float64

In [20]:
series[series > 0] # Returns elements whose value is greater than 0

2    0.526216
4    0.065357
dtype: float64

In [21]:
series.size # Returns size of the series.

5

In [22]:
series.shape # Returns shape of the series.

(5,)

In [23]:
series.add(1) # Returns series with elements' value increased by 1

0    0.492757
1    0.884269
2    1.526216
3    0.504160
4    1.065357
dtype: float64

In [24]:
series.sub(1) # Returns series with elements' value decreased by 1

0   -1.507243
1   -1.115731
2   -0.473784
3   -1.495840
4   -0.934643
dtype: float64

In [25]:
series.mul(10) # Returns series with elements' value multiplied by 10

0   -5.072431
1   -1.157307
2    5.262160
3   -4.958401
4    0.653565
dtype: float64

In [26]:
series.div(10) # Returns series with elements' value divided by 10

0   -0.050724
1   -0.011573
2    0.052622
3   -0.049584
4    0.006536
dtype: float64

In [27]:
series.abs() # Returns series with absolute value of elements

0    0.507243
1    0.115731
2    0.526216
3    0.495840
4    0.065357
dtype: float64

In [28]:
series.max() # Returns maximum of all the elements.

0.5262159987471329

In [29]:
series.min() # Returns minimum of all the elements.

-0.5072430551642492

In [30]:
series.sum() # Returns sum of all the elements.

-0.5272413324692681

In [31]:
series.mean() # Returns mean of the series.

-0.10544826649385361

In [32]:
series.median() # Returns median of the series.

-0.1157306666767307

In [33]:
series.std() # Returns standard deviation of the series.

0.43073327047221427

In [34]:
series.drop(4) # Returns series with specified index removed.

0   -0.507243
1   -0.115731
2    0.526216
3   -0.495840
dtype: float64

In [35]:
series

0   -0.507243
1   -0.115731
2    0.526216
3   -0.495840
4    0.065357
dtype: float64